Source: phantomjs
Section: web
Priority: extra
Maintainer: Dave King <dave.king@rackspace.com>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config, binutils, build-essential, git-core, chrpath, libssl-dev, libfontconfig1-dev
Standards-Version: 3.8.4
Homepage: http://phantomjs.org/

Package: phantomjs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: phantomjs - minimalistic headless WebKit-based JavaScript-driven tool
 PhantomJS is a minimalistic, headless, WebKit-based, JavaScript-driven tool.
 PhantomJs has native support for different web technologies: DOM handling,
 CSS selector, JSON, Canvas, SVG, and of course JavaScript.
